/* PALETTE:
Darkest: #0b2545 (Inner Bubbles)
Medium:  #13315c (Big Outer Bubble)
Accent:  #134074 
Text:    #eef4ed
Grey:    #8da9c4
*/

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #eef4ed;
}

tooltip {
    background: #0b2545;
    border-radius: 10px;
    border: 1px solid #8da9c4;
}

/* --- THE BIG BUBBLES (GROUPS) --- */
#group-left {
    background-color: #13315c;
    border-bottom-right-radius: 99px;
    margin: 0; 
    padding: 4px 20px 4px 5px; /* Added extra padding right */
}

#group-right {
    background-color: #13315c;
    border-bottom-left-radius: 99px;
    margin: 0;
    padding: 4px 5px 4px 20px;
}

/* --- MODULES --- */

/* Arch Logo - Extra Padding */
#custom-arch {
    background-color: transparent;
    color: #8da9c4;
    font-size: 22px;
    margin-left: 15px; /* Move away from edge */
    margin-right: 15px; /* Move away from numbers */
    padding: 0;
}

/* Desktop Numbers (Workspaces) - CIRCLES */
#workspaces {
    background-color: #0b2545;
    border-radius: 99px;
    margin: 0;
    padding: 5px;
}

#workspaces button {
    color: #8da9c4;
    border-radius: 50%; /* Perfect Circle */
    min-width: 30px;    /* Force width */
    min-height: 30px;   /* Force height */
    padding: 0;         /* Remove text padding so it centers */
}

#workspaces button.active {
    color: #0b2545;
    background-color: #eef4ed;
}

#workspaces button:hover {
    background-color: #134074;
}


/* Right Modules - PILLS */
#network,
#battery,
#clock {
    background-color: #0b2545;
    color: #eef4ed;
    margin: 0 5px;
    padding: 4px 14px;
    border-radius: 99px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

#network {
    color: #8da9c4; /* Greyish IP */
}

#battery.charging {
    background-color: #134074;
    color: #eef4ed;
}

#clock {
    background-color: #134074;
    margin-right: 15px; /* Padding from edge */
}


/* Center Window Title - NO BUBBLE */
#window {
    background-color: transparent;
    box-shadow: none;
    color: #eef4ed;
    margin-top: 5px;
    font-size: 13px;
    font-weight: bold;
}
