/* PALETTE:
Black:   #000000
Text:    #eef4ed
Accent:  #134074
Grey:    #8da9c4
*/

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #eef4ed;
}

tooltip {
    background: #000000;
    border-radius: 10px;
    border: 1px solid #8da9c4;
}

/* --- THE BIG BLACK SECTIONS --- */

#group-left {
    background-color: #000000;
    /* Round ONLY the bottom-right corner */
    border-bottom-right-radius: 30px;
    /* Ensure other corners touching the screen are square */
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    
    padding: 5px 20px 5px 10px;
}

#group-right {
    background-color: #000000;
    /* Round ONLY the bottom-left corner */
    border-bottom-left-radius: 30px;
    /* Ensure other corners touching the screen are square */
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

    padding: 5px 10px 5px 20px;
}

/* --- MODULES INSIDE (Transparent to blend with black) --- */

#custom-arch,
#workspaces,
#network,
#battery,
#clock {
    background-color: transparent;
    color: #eef4ed;
    margin: 0 5px;
    padding: 0 5px;
    box-shadow: none;
}

/* Specific text colors */

#custom-arch {
    color: #8da9c4;
    font-size: 22px;
    margin-right: 15px;
}

#workspaces button {
    color: #8da9c4;
    padding: 0 5px;
}

#workspaces button.active {
    color: #eef4ed;
}

#workspaces button:hover {
    color: #134074;
}

#network {
    color: #8da9c4;
}

#battery.charging {
    color: #134074;
}

#clock {
    color: #eef4ed;
    font-weight: 900;
    margin-right: 10px;
}
