/* PALETTE:
Darkest: #0b2545 (Inner Bubbles)
Medium:  #13315c (Big Outer Bubble)
Accent:  #134074 
Text:    #eef4ed
Grey:    #8da9c4
*/

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: #eef4ed;
}

tooltip {
    background: #0b2545;
    border-radius: 10px;
    border: 1px solid #8da9c4;
}

/* --- THE BIG BUBBLES (GROUPS) --- */
#group-left {
    background-color: #13315c;
    border-bottom-right-radius: 99px;
    margin: 0; 
    padding: 4px 20px 4px 5px; 
}

#group-right {
    background-color: #13315c;
    border-bottom-left-radius: 99px;
    margin: 0;
    padding: 4px 5px 4px 20px;
}

/* --- MODULES --- */

/* Arch Logo */
#custom-arch {
    background-color: transparent;
    color: #8da9c4;
    font-size: 22px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 0;
}

/* Desktop Numbers (Workspaces) - CIRCLES */
#workspaces {
    background-color: #0b2545;
    border-radius: 99px;
    margin: 0;
    padding: 5px;
}

#workspaces button {
    color: #8da9c4;
    border-radius: 50%;
    min-width: 30px;
    min-height: 30px;
    padding: 0;
}

#workspaces button.active {
    color: #0b2545;
    background-color: #eef4ed;
}

#workspaces button:hover {
    background-color: #134074;
}

/* Right Modules - PILLS */
#network,
#battery,
#clock.date,
#clock.time {
    background-color: #0b2545;
    margin: 0 5px;
    padding: 4px 14px;
    border-radius: 99px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
}

#network {
    color: #8da9c4;
}

#battery {
    color: #eef4ed;
}

#battery.charging {
    background-color: #134074;
    color: #eef4ed;
}

/* --- CLOCK SPLIT STYLING --- */

/* Date: Discreet Grey */
#clock.date {
    background-color: #0b2545;
    color: #8da9c4;
    margin-right: 2px; /* Close to the time */
    padding-right: 10px;
}

/* Time: Bold White */
#clock.time {
    background-color: #134074; /* Accent Background */
    color: #eef4ed;
    font-weight: 900; /* Extra Bold */
    margin-right: 15px;
    margin-left: 0px;
}


/* Center Window Title - NO BUBBLE */
#window {
    background-color: transparent;
    box-shadow: none;
    color: #eef4ed;
    margin-top: 5px;
    font-size: 13px;
    font-weight: bold;
}
